.header-title{
    background-color: blue;
    color: white;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

.card{
    background-color: rgb(182, 219, 219);
    width: 1100px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px 20px 15px 20px;
    border-radius: 10px;
    box-shadow: 3px 3px rgb(134, 179, 179);
    border: 1px solid rgb(134, 179, 179);
}

.card-title{
    font-size: 20px;
    font-weight: bold;

}

.card-content{
    text-align: justify;
    padding-bottom: 20px;
}

button{
    background-color: blue;
    color: white;
    padding: 5px;
}

footer{
    background-color: blue;
    color: white;
    bottom: 0;
    position: fixed;
    width: 100%;
    padding: 5px;
    text-align: center;
}

.form-card{
    width: 500px;
}

.form-input{
    display: grid;
}